body
{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url(image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#title h1
{
  text-align: center;
}
#title p
{
  text-align: center;
}
.card{


    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 400px;
    height: 40px;

}

.card input {
    width: 50%;
    padding:  0 30px ;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 30px;
}

.card button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px ;
    border: none;
    font-size: 18px;
    /* width: 25%; */
}
#container_0
{
      margin-top: 20px;
      text-align: center;
      width: 400px ;
      height: 400px ;
      background-color: rgba(117, 137, 210, 0.265);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(5px);
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(2 , 1fr) ;
      grid-template-rows: repeat(4 , 1fr) ;
      border:2px rgba(174, 120, 120, 0.103) solid ;
      border-radius: 20px;
      margin-bottom: 50px;
}
#container_0 #place
{
    grid-row: 1 ; grid-column: 1 ;
    color: rgb(255, 255, 255);
    margin-top: 0 ;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container_0 #icon_weather
{
    grid-row: 1 ; grid-column: 2 ;
    color: rgb(255, 255, 255);
    margin-left: 35px;
}
#container_0 #descreption
{
    grid-row: 2 ; grid-column: 1 ;
    color: rgb(255, 255, 255);
    margin-left: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container_0 #temperature
{
    grid-row: 2 ; grid-column: 2 ;
    color: rgb(255, 255, 255);
    margin-left: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container_0 #feels_like
{
    grid-row: 3 ; grid-column: 1 ;
    color: rgb(255, 255, 255);
    margin-left: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container_0 #humidity
{
    grid-row: 3 ; grid-column: 2 ;
    color: rgb(255, 255, 255);
    margin-left: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container_0 #wind
{
    grid-row: 4 ; grid-column: 1 ;
    color: rgb(255, 255, 255);
    margin-left: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container_0 #pression
{
    grid-row: 4 ; grid-column: 2 ;
    color: rgb(255, 255, 255);
    margin-left: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    color: rgb(255, 255, 255);
}